<div class="col-md-12">

  <div class="alert alert-danger" ng-if="!MainCtrl.me.isAuth"><strong>Ohh!</strong> Cannot add new when unauthorized, sooo ....</div>
  <div ng-if="MainCtrl.me.isAuth">

    <form role="form" ng-submit="NewCtrl.submit()" novalidate name="theForm">
      <div class="form-group" ng-class="{'has-error': theForm.q.$invalid }">
        <input type="text" name="q" class="form-control" id="idQ" placeholder="Enter something..." ng-model="NewCtrl.form.q" required>
      </div>

      <hr>
    </form>


  </div>  
</div>
