<div z-airport="meta.airports" z-airport-route="form.input"></div>

<div class="form-group">
  <label for="idMaps">Map</label>
  <div style="border: 1px solid #666; height: 400px" z-map z-map-sizer="meta.mapsize" z-map-sizer-size="xs" z-map-markers="{{meta.airports}}" z-map-markers-connect="true" z-map-markers-icon="plane"></div>
</div>

<div class="form-group" ng-class="{'has-error': formInput.date.$invalid }">
  <label for="idDate">Date</label>
  <input type="date" name="date" class="form-control" id="idDate" ng-model="form.date" required />
</div>

<div class="form-group">
  <label for="idContent">Content</label>
  <textarea name="description" class="form-control" id="idContent" placeholder="Enter content..." style="min-height: 200px" ng-model="form.content"></textarea>
</div>
