<div class="col-md-12">

  <form role="form" ng-submit="NewCtrl.submit()" novalidate name="theForm">
    <div class="form-group" ng-class="{'has-error': theForm.q.$invalid }">
      <input type="text" name="q" class="form-control" id="idQ" placeholder="Enter something..." ng-model="NewCtrl.form.q" required>
    </div>

    <hr>

    <div ng-if="NewCtrl.form.type == 'article'">
      <div class="form-group" ng-class="{'has-error': theForm.header.$invalid }">
        <label for="idHeader">Header</label>
        <input type="text" name="header" class="form-control" id="idHeader" ng-model="NewCtrl.form.q" disabled>
      </div>
      <div class="form-group" ng-class="{'has-error': theForm.description.$invalid }">
        <label for="idContent">Content</label>
        <textarea name="description" class="form-control" id="idContent" placeholder="Enter content..." style="min-height: 200px" ng-model="NewCtrl.form.content" required></textarea>
      </div>
      <div class="form-group">
        <label for="idTags">Tags</label>
        <input type="text" name="tags" class="form-control" id="idTags" placeholder="Enter tags..." ng-model="NewCtrl.form.tags">
      </div>
    </div>

    <div ng-if="NewCtrl.form.type == 'place'">
      <div class="form-group" ng-class="{'has-error': theForm.header.$invalid }">
        <label for="idHeader">Header</label>
        <input type="text" name="header" class="form-control" id="idHeader" ng-model="NewCtrl.form.header" required>
      </div>
      <div class="row" ng-if="!NewCtrl.bigMap">
        <div class="col-md-9">
          <div class="form-group" ng-class="{'has-error': theForm.description.$invalid }">
            <label for="idContent">Content</label>
            <textarea name="description" class="form-control" id="idContent" placeholder="Enter content..." style="min-height: 200px" ng-model="NewCtrl.form.content" required></textarea>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="idMaps">Map</label>
            <div style="border: 1px solid #666; height: 200px" dash-leaflet="NewCtrl.form.q" dash-leaflet-big="NewCtrl.bigMap" dash-leaflet-icon="{{NewCtrl.mapIcon}}">
            </div>
          </div>
        </div>
      </div>

      <div ng-if="NewCtrl.bigMap">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="idMaps">Map</label>
              <div style="border: 1px solid #666; height: 400px" dash-leaflet="NewCtrl.form.q" dash-leaflet-big="NewCtrl.bigMap">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" ng-class="{'has-error': theForm.description.$invalid }">
              <label for="idContent">Content</label>
              <textarea name="description" class="form-control" id="idContent" placeholder="Enter content..." style="min-height: 200px" ng-model="NewCtrl.form.content" required></textarea>
            </div>
          </div>
        </div>
      </div>

      <dash-leaflet-markers icon="NewCtrl.mapIcon">
        <dash-leaflet-marker icon="cutlery"></dash-leaflet-marker>
        <dash-leaflet-marker icon="coffee"></dash-leaflet-marker>
        <dash-leaflet-marker icon="shopping-cart"></dash-leaflet-marker>
        <dash-leaflet-marker icon="eye"></dash-leaflet-marker>
        <dash-leaflet-marker icon="camera"></dash-leaflet-marker>
      </dash-leaflet-markers>

      <!-- 'red', 'darkred', 'orange', 'green', 'darkgreen', 'blue', 'purple', 'darkpuple', 'cadetblue' -->
<!--       <div class="clearfix">
        <div class="awesome-marker-icon-cadetblue awesome-marker" style="position: relative; float: left"><i class="fa fa-cutlery" style="color: white"></i></div>
        <div class="awesome-marker-icon-darkred awesome-marker" style="position: relative; float: left"><i class="fa fa-coffee" style="color: white"></i></div>
        <div class="awesome-marker-icon-darkgreen awesome-marker" style="position: relative; float: left"><i class="fa fa-shopping-cart" style="color: white"></i></div>
        <div class="awesome-marker-icon-blue awesome-marker" style="position: relative; float: left"><i class="fa fa-eye" style="color: white"></i></div>
      </div>
 -->
      <div class="form-group">
        <label for="idTags">Tags</label>
        <input type="text" name="tags" class="form-control" id="idTags" placeholder="Enter tags..." ng-model="NewCtrl.form.tags">
      </div>
    </div>

    <div ng-if="NewCtrl.form.type == 'link'">
      <div class="form-group">
        <label for="idUrl">Url</label>
        <input type="text" name="url" class="form-control" id="idUrl" ng-model="NewCtrl.form.q" disabled>
      </div>
      <div class="form-group" ng-class="{'has-error': theForm.header.$invalid }">
        <label for="idHeader">Header</label>
        <input type="text" name="header" class="form-control" id="idHeader" ng-model="NewCtrl.form.header" required>
      </div>
      <div class="form-group" ng-class="{'has-error': theForm.description.$invalid }">
        <label for="idContent">Content</label>
        <textarea name="description" class="form-control" id="idContent" placeholder="Enter content..." style="min-height: 200px" ng-model="NewCtrl.form.content" required></textarea>
      </div>
      <div class="form-group">
        <label for="idTags">Tags</label>
        <input type="text" name="tags" class="form-control" id="idTags" placeholder="Enter tags..." ng-model="NewCtrl.form.tags">
      </div>
    </div>

    <div class="checkbox pull-right">
      <label>
        <input type="checkbox" name="authOnly" ng-model="NewCtrl.form.onlyAuth"> Auth only?
      </label>
    </div>

    <div class="form-group">
      <label for="idType">Type</label>
      <span class="badge">{{NewCtrl.form.type}}</span>
    </div>

    <!-- <pre>{{NewCtrl.form|json}}</pre> -->

    <div class="row">
      <div class="col-md-11">
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-disabled="theForm.$invalid||!NewCtrl.form.code">Save <span class="glyphicon glyphicon-plus"></span></button>
        </div>
      </div>
      <div class="col-md-1">
        <input type="password" name="code" class="form-control" id="idCode" ng-model="NewCtrl.form.code" required>
      </div>
    </div>

    <p>Preview:</p>
    <div class="panel panel-default">
      <div class="panel-body" style="min-height: 200px" ng-bind-html="NewCtrl.form.content|textile"></div>
    </div>
  </form>
</div>