body {
  padding-top: 70px;
}
.navbar.zdnavbar {
  background-color: #005577;
}
.facets {
  list-style: none;
}
.facets li {
  float: left;
  padding: 0 4px;
}
.hit:hover {
  background-color: #f4f2f2;
  cursor: pointer;
}
.typeahead {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}
.typeahead ul {
  padding: 0;
  margin: 0;
}
.typeahead ul li {
  list-style: none;
}
.zdview.ng-enter {
  animation: fadeInRight 200ms;
  -webkit-animation: fadeInRight 200ms;
}
.zdview.ng-leave {
  animation: slideOutUp 1000ms;
  -webkit-animation: slideOutUp 1000ms;
}
