body {
  padding-top: 70px;
}
.navbar.zdnavbartop {
  background-color: #005577;
}
.navbar.zdnavbarbottom {
  padding: 2px;
  background-color: #005577;
  min-height: inherit;
  color: #fff;
}
.facets {
  list-style: none;
}
.facets li {
  float: left;
  padding: 0 4px;
}
/*.typeahead {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}
.typeahead ul {
  padding: 0;
  margin: 0;
}
.typeahead ul li {
  list-style: none;
}*/
#q.qfocus {
  width: 400px;
}
.dash-control-big {
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background-color: #f4f4f4;
  padding: 6px;
  color: black;
}
.zdview.ng-enter {
  animation: fadeInRight 200ms;
  -webkit-animation: fadeInRight 200ms;
}
.zdfade.ng-hide {
  display: inline !important;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
}
.inandout.ng-hide-remove {
  display: block !important;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}
.inandout.ng-hide-add {
  display: block !important;
  animation: fadeOut 1s;
  -webkit-animation: fadeOut 1s;
}
.hit.ng-enter {
  animation: bounceIn 300ms;
  -webkit-animation: bounceIn 300ms;
}
.hit.ng-leave {
  animation: bounceOut 300ms;
  -webkit-animation: bounceOut 300ms;
}
.zddanger.ng-hide-add,
.zddanger.ng-hide-remove {
  display: block !important;
  animation: pulse 300ms;
  -webkit-animation: pulse 300ms;
}
.hitsinfo.ng-hide-add,
.hitsinfo.ng-hide-remove {
  display: block !important;
  animation: bounceInDown 1000ms;
  -webkit-animation: bounceInDown 1000ms;
}
/*.newtypeanimate {
  position: relative;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  &.ng-enter {
    top:-50px;
  }
  &.ng-enter.ng-enter-active {
    top:0;
  }
   
  &.ng-leave {
    top:0;
  }
  &.ng-leave.ng-leave-active {
    top:50px;
  }
}*/
.z-msg {
  position: fixed;
  bottom: 25px;
  left: 0;
  right: 0;
  text-align: center;
}
.z-msg ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.z-msg ul li {
  background-color: #ddd;
  padding: 4px;
}
.z-msg ul li.ok {
  background: -moz-linear-gradient(top, rgba(137, 232, 126, 0) 0%, rgba(43, 202, 32, 0.61) 61%, #005577 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(137, 232, 126, 0)), color-stop(61%, rgba(43, 202, 32, 0.61)), color-stop(100%, #005577));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(137, 232, 126, 0) 0%, rgba(43, 202, 32, 0.61) 61%, #005577 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(137, 232, 126, 0) 0%, rgba(43, 202, 32, 0.61) 61%, #005577 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(137, 232, 126, 0) 0%, rgba(43, 202, 32, 0.61) 61%, #005577 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(137, 232, 126, 0) 0%, rgba(43, 202, 32, 0.61) 61%, #005577 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089e87e', endColorstr='#005577', GradientType=0);
  /* IE6-9 */
}
.z-msg ul li.err {
  color: #fff;
  background: -moz-linear-gradient(top, rgba(255, 103, 121, 0) 0%, rgba(234, 0, 19, 0.61) 61%, #005577 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 103, 121, 0)), color-stop(61%, rgba(234, 0, 19, 0.61)), color-stop(100%, #005577));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 103, 121, 0) 0%, rgba(234, 0, 19, 0.61) 61%, #005577 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 103, 121, 0) 0%, rgba(234, 0, 19, 0.61) 61%, #005577 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 103, 121, 0) 0%, rgba(234, 0, 19, 0.61) 61%, #005577 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 103, 121, 0) 0%, rgba(234, 0, 19, 0.61) 61%, #005577 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff6779', endColorstr='#005577', GradientType=0);
  /* IE6-9 */
}
.z-msg ul li.ng-enter {
  animation: bounceIn 300ms;
  -webkit-animation: bounceIn 300ms;
}
.z-msg ul li.ng-leave {
  animation: bounceOut 300ms;
  -webkit-animation: bounceOut 300ms;
}
.z-map-tags-control .list-group {
  margin: 0px;
  min-width: 100px;
}
.z-suggest {
  position: absolute;
  border: 1px solid black;
  background-color: white;
  min-width: 200px;
}
.z-suggest ul {
  padding: 0;
  list-style: none;
}
.z-suggest ul li.selected {
  background-color: blue;
}
