<!doctype html>
<html lang="en" ng-app="ziaxdash">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ziax Dash</title>

  <!-- ref:js js/dash.ziax.dk.all.min.js -->
  <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="js/angular-route.js"></script>
  <script type="text/javascript" src="js/angular-resource.js"></script>
  <script type="text/javascript" src="js/angular-animate.js"></script>

  <script type="text/javascript" src="js/textile.min.js"></script>
  <script type="text/javascript" src="js/moment.min.js"></script>
  <script type="text/javascript" src="js/dash.ziax.js"></script>
  <!-- endref -->

  <!-- ref:css css/bs3/css/bootstrap.min.css -->
  <link rel="stylesheet" href="css/bs3/css/bootstrap.css">
  <!-- endref -->
  <!-- ref:css css/dash.ziax.dk.min.css -->
  <link rel="stylesheet" href="css/dash.ziax.css">
  <!-- endref -->

</head>
<body ng-controller="MainController as MainCtrl" style="margin-bottom: 20px">
  <header style="background-color: #005577; padding: 4px 0">
    <div class="container">
      <div class="row">
        <form class="form-inline" role="form" ng-submit="MainCtrl.search()">
          <div class="col-md-6">
            <input type="text" placeholder="Search..." ng-model="MainCtrl.form.q" class="form-control">
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-default">Search <span class="glyphicon glyphicon-search"></span></button>
            <button type="button" class="btn btn-default pull-right" ng-click="MainCtrl.new()"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </form>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row" ng-view></div>	
  </div>
  <div style="position: fixed; bottom: 0; left: 0; right: 0; padding: 2px; background-color: #005577; color: #fff">
    <span>Total: {{MainCtrl.hits}}</span>
    <span class="pull-right"><a href="/auth/github"><span class="glyphicon glyphicon-link"></span></a></span>
  </div>
</body>
</html>